.admin-header {
  font-size: 24px;
  margin: 20px;
}
.admin-container {
  padding: 20px;

  .flex-menu-rendercompo {
    display: flex;
    .menu {
      ul {
        list-style: none;
        padding: 0;
        width: 180px;

        li {
          cursor: pointer;
          padding: 10px 20px;
          transition: background-color 0.3s;
          display: inline-block;
          .icons {
            margin-right: 10px;
            background-color: var(--accent-color);
            color: white;
            cursor: pointer;
            border-radius: 50%;
          }
          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }

    .selected-component {
      margin: auto;
    }
  }
}
